<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Framework Guru</title>
</head>
<body>
<h1>Book List</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Books</th>
    </tr>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}">Id</td>
        <td th:text="${author.firstName + ' ' + author.lastName}">Name</td>
        <td>
            <div th:each="book : ${author.books}">
                <p th:text="${book.title}"></p>
            </div>
        </td>
    </tr>
</table>

</body>
</html>