<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>My Recipes</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

</head>
<body>
<div class="panel panel-primary" style="width: 95%; margin: 0 auto;">
    <div class="panel-heading">
        <h1 class="panel-title">
            My Recipes!
        </h1>
    </div>
    <div class="panel-body">
        <div class="table-responsive" th:if="${not #lists.isEmpty(recipes)}">
            <table class="table table-hover ">
                <thead class="thead-inverse">
                    <tr>
                        <th>ID</th>
                        <th>Description</th>
                        <th>Categories</th>
                        <th>Cook Time</th>
                        <th>Prep Time</th>
                        <th>Directions</th>
                        <th>Difficulty</th>
                        <th>Ingredients</th>
                        <th>Notes</th>
                    </tr>
                </thead>
                <tr th:each="recipe : ${recipes}">
                    <td th:text="${recipe.id}">ID</td>
                    <td th:text="${recipe.description}">Description</td>
                    <td th:if="${recipe.categories != null}">
                        <div th:each="category : ${recipe.categories}">
                            <p th:text="${category.description}">Category</p>
                        </div>
                    </td>
                    <td th:text="${recipe.cookTime}">Cook Time</td>
                    <td th:text="${recipe.prepTime}">Prep Time</td>
                    <td th:if="${recipe.directions != null}">
                        <div th:each="line : ${#strings.arraySplit(recipe.directions, '&#10;')}">
                            <p th:text="${line}">1 direction</p>
                        </div>
                    </td>
                    <td th:text="${recipe.difficulty}">Difficulty</td>
                    <td th:if="${recipe.ingredients != null}">
                        <div th:each="ingredient : ${recipe.ingredients}">
                            <p th:text="${ingredient.description} + ': ' +${ingredient.amount} + ' ' + ${ingredient.unitOfMeasure.description} ">Ingredient</p>
                        </div>
                    </td>
                    <td th:if="${recipe.notes != null}">
                        <div th:each="line : ${#strings.arraySplit(recipe.notes.recipeNotes, '&#10;')}">
                            <p th:text="${line}">1 note</p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>